/* Resetting default styles */
.tns-outer {
    padding: 0 !important;
  }
  
  .tns-outer [hidden] {
    display: none !important;
  }
  
  /* Cursor styles for interactive elements */
  .tns-outer [aria-controls],
  .tns-outer [data-action] {
    cursor: pointer;
  }
  
  /* Transitions */
  .tns-slider {
    transition: all 0s;
  }
  
  /* Box sizing and alignment */
  .tns-slider > .tns-item {
    box-sizing: border-box;
  }
  
  /* Horizontal slider styles */
  .tns-horizontal.tns-subpixel {
    white-space: nowrap;
  }
  
  .tns-horizontal.tns-subpixel > .tns-item {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
  }
  
  /* Clearfix for horizontal layout without subpixels */
  .tns-horizontal.tns-no-subpixel:after {
    content: '';
    display: table;
    clear: both;
  }
  
  .tns-horizontal.tns-no-subpixel > .tns-item {
    float: left;
  }
  
  /* Styles for horizontal carousel without subpixels */
  .tns-horizontal.tns-carousel.tns-no-subpixel > .tns-item {
    margin-right: -100%;
  }
  
  /* Positioning */
  .tns-no-calc {
    position: relative;
    left: 0;
  }
  
  .tns-gallery {
    position: relative;
    left: 0;
    min-height: 1px;
  }
  
  .tns-gallery > .tns-item {
    position: absolute;
    left: -100%;
    transition: transform 0s, opacity 0s;
  }
  
  /* Active slide */
  .tns-gallery > .tns-slide-active {
    position: relative;
    left: auto !important;
  }
  
  /* Animation on slide movement */
  .tns-gallery > .tns-moving {
    transition: all 0.25s;
  }
  
  /* Autowidth */
  .tns-autowidth {
    display: inline-block;
  }
  
  /* Lazy image loading */
  .tns-lazy-img {
    transition: opacity 0.6s;
    opacity: 0.6;
  }
  
  .tns-lazy-img.tns-complete {
    opacity: 1;
  }
  
  /* Height transition */
  .tns-ah {
    transition: height 0s;
  }
  
  /* Overflow */
  .tns-ovh {
    overflow: hidden;
  }
  
  /* Visually hidden */
  .tns-visually-hidden {
    position: absolute;
    left: -10000em;
  }
  
  /* Transparent */
  .tns-transparent {
    opacity: 0;
    visibility: hidden;
  }
  
  /* Fade in and out */
  .tns-fadeIn {
    opacity: 1;
    filter: alpha(opacity=100);
    z-index: 0;
  }
  
  .tns-normal,
  .tns-fadeOut {
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: -1;
  }
  
  /* Viewport fix */
  .tns-vpfix {
    white-space: nowrap;
  }
  
  .tns-vpfix > div,
  .tns-vpfix > li {
    display: inline-block;
  }
  
  /* Subpixel positioning */
  .tns-t-subp2 {
    margin: 0 auto;
    width: 310px;
    position: relative;
    height: 10px;
    overflow: hidden;
  }
  
  /* Calculate width for the slider content */
  .tns-t-ct {
    width: 2333.3333333%;
    width: calc(100% * 70 / 3);
    position: absolute;
    right: 0;
  }
  
  .tns-t-ct:after {
    content: '';
    display: table;
    clear: both;
  }
  
  .tns-t-ct > div {
    width: 1.4285714%;
    width: calc(100% / 70);
    height: 10px;
    float: left;
  }
  